.label {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.inputErrorBox {
  position: relative;
}

.input {
  padding-left: 16px;
  border: 1px solid gainsboro;
  border-radius: 6px;
  width: 100%;
  height: 40px;
}

.input::placeholder {
  font-size: 1.6rem;
}

.errorMessage {
  font-size: 1.2rem;
  color: lightblue;
}
