.form {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 2fr 8fr 1fr;
  gap: 24px;
}

.input,
.textarea,
.latexPreview {
  padding-left: 16px;
  border: 1px solid gainsboro;
  border-radius: 6px;
  width: 100%;
}

.textarea {
  padding-top: 16px;
  resize: none;
}

.latexPreviewBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.latexPreview {
  background-color: rgba(220, 220, 220, 0.406);
  padding: 10px;
}

.btnBox {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 24px;
}

.submitBtn {
  background-color: lightblue;
  border-radius: 6px;
  color: #ffff;
}

.cancelBtn {
  color: lightblue;
  border: 1px solid lightblue;
  border-radius: 6px;
}
