.questionDetail {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 3rem;
  font-weight: 700;
  background-color: gainsboro;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding-left: 20px;
}

.date {
  align-self: flex-end;
}

.formula {
  background-color: rgba(220, 220, 220, 0.406);
  border-radius: 6px;
  padding: 10px;
}

.btnBox {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  gap: 10px;
}

.patchBtn,
.deleteBtn {
  background-color: lightblue;
  border-radius: 6px;
  color: #ffff;
  padding: 10px 16px;
  height: 40px;
}

.deleteBtn {
  background-color: rgba(255, 99, 71, 0.785);
}

.goListBtn {
  border: 1px solid lightblue;
  color: lightblue;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}
