.questions {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 8fr 1fr 1fr;
  gap: 24px;
}

.ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.goToAskBtn {
  background-color: lightblue;
  border-radius: 6px;
  color: #ffff;
  display: flex;
  align-items: center;
  justify-content: center;
}
