.signUpForm {
  padding: 100px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.submitBtn {
  margin-top: 24px;
  background-color: lightblue;
  border-radius: 6px;
  color: #ffff;
  padding: 10px 16px;
  width: 300px;
  height: 40px;
}

.goSignIin {
  width: 300px;
  text-align: center;
}
