.form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.signInBtn {
  color: #ffff;
  background-color: lightblue;
  border-radius: 6px;
  padding: 10px 16px;
}

.goSignUp {
  text-align: center;
}
